<h1>La page secrète</h1>
<p>La grande question sur la vie, l'univers et le reste (en anglais : The Ultimate Question of Life, the Universe and Everything) est – dans l'œuvre de science-fiction de Douglas Adams Le Guide du voyageur galactique – la question ultime sur le sens de la vie. Une réponse est proposée : le nombre 42, mais le problème est que personne n'a jamais su la question précise.

Source : Wikipedia.
</p>
